<div class="container-fluid text-center-xs">
	<h1 class="h1">Styleguide</h1>
	<h2 class="h2">Layout</h2>
	<h3 class="h3">Containers</h3>
	<div class="row">
		<div class="col-xs">
			<h4 class="h4">container</h4>
		</div>
		<div class="col-xs">
			<h4 class="h4">container-fluid</h4>
		</div>
	</div>
	<h3 class="h3">Responsive breakpoints</h3>
	<div class="row">
		<div class="col-xs">
			<h4 class="h4">container</h4>
		</div>
		<div class="col-xs">
			<h4 class="h4">container-fluid</h4>
		</div>
	</div>
	<h3 class="h3">Grid</h3>
	<div class="row">
		<div class="col-xs">
			<h4 class="h4">container</h4>
		</div>
		<div class="col-xs">
			<h4 class="h4">container-fluid</h4>
		</div>
	</div>
	<h3 class="h3">Media object</h3>
	<div class="row">
		<div class="col-xs">
			<h4 class="h4">container</h4>
		</div>
		<div class="col-xs">
			<h4 class="h4">container-fluid</h4>
		</div>
	</div>
	<h3 class="h3">Responsive utilities</h3>
	<div class="row">
		<div class="col-xs">
			<h4 class="h4">container</h4>
		</div>
		<div class="col-xs">
			<h4 class="h4">container-fluid</h4>
		</div>
	</div>
</div>