/* Container */

@mixin make-container($gutter: $grid-gutter-width) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

.container {
  @include make-container();
  @include make-container-max-widths();
}

.container-fluid {
  @include make-container();
}

/* Row */

@mixin make-row($gutter: $grid-gutter-width) {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
}

@mixin make-row-reverse($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    flex-direction: row-reverse;
  }
}

@mixin make-row-top($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    align-items: flex-start;
  }
}

@mixin make-row-middle($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    align-items: center;
  }
}

@mixin make-row-bottom($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    align-items: flex-end;
  }
}

@mixin make-row-left($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    justify-content: flex-start;
  }
}

@mixin make-row-center($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    justify-content: center;
  }
}

@mixin make-row-right($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    justify-content: flex-end;
  }
}

@mixin make-row-justified($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    justify-content: space-between;
  }
}

@mixin make-row-spaced($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    justify-content: space-around;
  }
}

.row {
  @include make-row();
}

@mixin make-grid-rows($breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    @include media-up($breakpoint, $breakpoints) {
      .row-reverse-#{$breakpoint} { flex-direction: row-reverse; }

      .row-top-#{$breakpoint} { align-items: flex-start; }
      .row-middle-#{$breakpoint} { align-items: center; }
      .row-bottom-#{$breakpoint} { align-items: flex-end; }

      .row-left-#{$breakpoint} { justify-content: flex-start; }
      .row-center-#{$breakpoint} { justify-content: center; }
      .row-right-#{$breakpoint} { justify-content: flex-end; }
      .row-justified-#{$breakpoint} { justify-content: space-between; }
      .row-spaced-#{$breakpoint} { justify-content: space-around; }
    }
  }
}

@include make-grid-rows();

/* Col */

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    @include media-up($breakpoint, $breakpoints) {
      .col-#{$breakpoint} {
        max-width: 100%;
        min-height: 1px;
        padding-left: ($gutter / 2);
        padding-right: ($gutter / 2);
        flex: 1 0 0;
      }
      
      @for $i from 0 through $columns {
        .col-#{$i}-#{$breakpoint} {
          max-width: 100%;
          min-height: 1px;
          padding-left: ($gutter / 2);
          padding-right: ($gutter / 2);
          flex: 0 0 percentage($i / $columns);
        }
      }
      
      .col-shrink-#{$breakpoint} {
        max-width: 100%;
        min-height: 1px;
        padding-left: ($gutter / 2);
        padding-right: ($gutter / 2);
        flex: 0 0 auto;
      }

      @for $i from 0 through $columns {
        .col-push-#{$i}-#{$breakpoint} { left: if($i > 0, percentage($i / $columns), auto); }
        .col-pull-#{$i}-#{$breakpoint}  { right: if($i > 0, percentage($i / $columns), auto); }
        .col-offset-#{$i}-#{$breakpoint}  { margin-left: percentage($i / $columns); }
      }

      .col-top-#{$breakpoint} { align-self: flex-start; }
      .col-middle-#{$breakpoint} { align-self: center; }
      .col-bottom-#{$breakpoint} { align-self: flex-end; }

      .col-first-#{$breakpoint} { order: -1; }
      .col-last-#{$breakpoint} { order: 1; }
    }
  }
}

@mixin make-col($breakpoint, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    max-width: 100%;
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
    flex: 1 0 0;
  }
}

@mixin make-col-span($breakpoint, $size, $gutter: $grid-gutter-width, $columns: $grid-columns, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    max-width: 100%;
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
    flex: 0 0 percentage($size / $columns);
  }
}

@mixin make-col-shrink($breakpoint, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    max-width: 100%;
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
    flex: 0 0 auto;
  }
}

@mixin make-col-push($breakpoint, $size, $columns: $grid-columns, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    left: if($size > 0, percentage($size / $columns), auto);
  }
}

@mixin make-col-pull($breakpoint, $size, $columns: $grid-columns, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    right: if($size > 0, percentage($size / $columns), auto); 
  }
}

@mixin make-col-offset($breakpoint, $size, $columns: $grid-columns, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    margin-left: percentage($size / $columns);
  }
}

@mixin make-col-top($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    align-self: flex-start;
  }
}

@mixin make-col-middle($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    align-self: center;
  }
}

@mixin make-col-bottom($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    align-self: flex-end;
  }
}

@mixin make-col-first($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    order: -1;
  }
}

@mixin make-col-last($breakpoint, $breakpoints: $grid-breakpoints) {
  @include media-up($breakpoint, $breakpoints) {
    order: 1;
  }
}

@include make-grid-columns();