@function breakpoint-next($name, $breakpoints: $grid-breakpoints) {
  $n: index(map-keys($breakpoints), $name);
  @return if($n < length(map-keys($breakpoints)), nth(map-keys($breakpoints), $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@mixin media-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-only($name, $breakpoints: $grid-breakpoints) {
  @include media-up($name, $breakpoints) {
    @include media-down($name, $breakpoints) {
      @content;
    }
  }
}

@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  @include media-up($lower, $breakpoints) {
    @include media-down($upper, $breakpoints) {
      @content;
    }
  }
}