html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  line-height: $line-height-md;
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
  color: $charade;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $dodgerblue-light;
  text-decoration: none;
  outline: none;
  transition: $linear;
  cursor: pointer;
  &:hover {
    color: $dodgerblue;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: $line-height-md;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
}

.h1 {
  line-height: $line-height-sm;
  font-weight: $font-weight-semibold;
  font-size: $font-size-xxxl;
}

.h2 {
  line-height: $line-height-sm;
  font-weight: $font-weight-semibold;
  font-size: $font-size-xxl;
}

.h3 {
  line-height: $line-height-sm;
  font-weight: $font-weight-semibold;
  font-size: $font-size-xl;
}

.h4 {
  line-height: $line-height-sm;
  font-weight: $font-weight-semibold;
  font-size: $font-size-lg;
}