html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  line-height: 1.4;
  font-family: 'PF Beau Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: $charade;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $dodgerblue-light;
  text-decoration: none;
  outline: none;
  transition: all 100ms linear;
  cursor: pointer;
  &:hover {
    color: $dodgerblue;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.4rem;
}

.h1 {
  line-height: 1.2;
  font-weight: 600;
  font-size: 3rem;
}

small {
  font-size: 1.3rem;
}

strong {
  font-weight: 600;
}