//Colors Palette
$white:										#FFFFFF !default;
$porcelain:									#F1F3F4 !default;
$gallery:									#ECEBEB !default;
$graychateau:								#ACB0B2 !default;
$oslogray:									#949799 !default;
$trout:										#505D62 !default;
$easternblue:								#168CC4 !default;
$valencia:									#D64242 !default;

//Colors
$color-brand:								$easternblue !default;
$color-brand-alt:							saturate($color-brand, 20%) !default;

//Media Queries
$breakpoints:								(xs: 0, sm: 544px, md: 768px, lg: 992px, xl: 1200px) !default;

//Grid
$container-max-widths:						(sm: 576px, md: 720px, lg: 940px, xl: 1140px) !default;
$grid-columns:								12 !default;
$grid-gutter:								20px !default;

//Spacing
$spacer-xs:									5px !default;
$spacer-sm:									10px !default;
$spacer-md:									20px !default;
$spacer-lg:									30px !default;
$spacer-xl:									40px !default;
$spacers:									(0: 0, xs: $spacer-xs, sm: $spacer-sm, md: $spacer-md, lg: $spacer-lg, xl: $spacer-xl) !default;

//Border Radius
$border-radius-md:							4px !default;

//Line Heights
$line-height-md:							1.4 !default;

//Font Families
$font-family-primary:						'PF Beau Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

//Font Weights
$font-weight-thin:							100 !default;
$font-weight-light:							300 !default;
$font-weight-regular:						400 !default;
$font-weight-semibold:						600 !default;
$font-weight-bold:							700 !default;

//Font Sizes
$font-size-sm:								1.3rem !default;
$font-size-md:								1.4rem !default;

//Icon Sizes
$icon-size-lg:								3rem !default;

//Transitions
$linear:									all 100ms linear !default;