<div class="top-nav">
	<div class="container">
		<p class="top-nav-title">New Resource</p>
	</div>
</div>
<div class="main-content">
	<div class="container">
		<form>
			<div class="form-section row row-xs-middle">
				<div class="col-xs">
					<p class="form-section-title">Name</p>
					<p class="form-section-description">Enter a name for your new resource</p>
				</div>
				<div class="col-xs">
					<div class="form-group">
						<input type="text" placeholder="Name"/>
					</div>
				</div>
			</div>
			<div class="form-section row row-xs-middle">
				<div class="col-xs">
					<p class="form-section-title">Known as</p>
					<p class="form-section-description">Enter a known as for your new resource</p>
				</div>
				<div class="col-xs">
					<div class="form-group">
						<input type="text" placeholder="Known as"/>
					</div>
				</div>
			</div>
			<div class="form-section row row-xs-middle">
				<div class="col-xs col-xs-offset-6">
					<div class="form-group">
						<input type="submit" value="Create Resource" class="button button--primary"/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>