<div style="background: -webkit-radial-gradient(150px, circle, rgba(1,186,254,1) 0%,rgba(1,186,254,0) 60%);">
	<div class="container">
		<div class="row">
			<div class="col col-xs-5">
				<div style="position: relative; z-index: 2; width: 100%; height: 500px; background-image: url('assets/images/cristiano.png'); background-repeat: no-repeat; background-position: center; background-size: 100%;"></div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col col-xs-12">
						<h1 class="pn">Cristiano Ronaldo</h1>
						<p style="margin-top: -8px; text-transform: uppercase; font-size: 1.7rem;">Cristiano Ronaldo dos Santos Aveiro</p>
						<p style="margin-top: 20px;"><i>Considerado el mejor y más completo futbolista y goleador del mundo —e incluso de la historia— por un elevado número de personas y prensa vinculadas al deporte, así como también una de las figuras más mediáticas de la actualidad</i></p>
					</div>
					<div class="col col-xs-4">
						<p class="label">Date of Birth</p>
						<p class="headline">05.02.1985</p>
					</div>
					<div class="col col-xs-4">
						<p class="label">Place of Birth</p>
						<p class="headline">Funchal, Madeira</p>
					</div>
					<div class="col col-xs-4">
						<p class="label">Nationality</p>
						<p class="headline">Portugal</p>
					</div>
					<div class="col col-xs-4">
						<p class="label">Height</p>
						<p class="headline">1.85m</p>
					</div>
					<div class="col col-xs-4">
						<p class="label">Weight</p>
						<p class="headline">80kg</p>
					</div>
					<div class="col col-xs-4">
						<p class="label">Preferred Foot</p>
						<p class="headline">Right</p>
					</div>
					<div class="col col-xs-12">
						<p class="label">Main Position</p>
						<p class="headline">Right Wing</p>
					</div>
					<div class="col">
						<ul class="list-inline contact-info">
							<li class="contact-info-item-phone"><a class="contact-info-link"><span class="contact-info-icon icon-phone"></span>+34 607 334 587</a></li>
							<li><a class="contact-info-link"><span class="contact-info-icon icon-email"></span></a></li>
							<li><a class="contact-info-link"><span class="contact-info-icon icon-link"></span></a></li>
							<li><a class="contact-info-link"><span class="contact-info-icon icon-twitter"></span></a></li>
							<li><a class="contact-info-link"><span class="contact-info-icon icon-facebook"></span></a></li>
							<li><a class="contact-info-link"><span class="contact-info-icon icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>