<div class="centered-form">
	<form>
		<div class="row">
			<div class="col col-xs-12">
				<a [routerLink]="['']" class="signup-logo icon-logo"></a>
			</div>
			<div class="col col-xs-12">
				<h1 class="h1">Sign up and experience Footbagent today</h1>
			</div>
			<div class="col col-xs-12">
				<input type="text" placeholder="First name"/>
			</div>
			<div class="col col-xs-12">
				<input type="text" placeholder="Last name"/>
			</div>
			<div class="col col-xs-12">
				<input type="email" placeholder="Email"/>
			</div>
			<div class="col col-xs-12">
				<input type="password" placeholder="Password"/>
			</div>
			<div class="col col-xs-12">
				<input type="submit" value="Create Account" class="button button-big button-primary"/>
			</div>
			<div class="col col-xs-12">
				<p>Signing up signifies that you have read and agree to the <a [routerLink]="['/terms']">Terms of Service</a> and <a [routerLink]="['/privacy']">Privacy Policy</a>.</p>
			</div>
			<div class="col col-xs-12">
				<p>Already have an account? <a [routerLink]="['/login']">Log In</a></p>
			</div>
		</div>
	</form>
</div>