<div class="container-slim">
	<form novalidate autocomplete="off" (ngSubmit)="onSubmit()" #signupForm="ngForm">
		<div class="row">
			<div class="col col-xs-12 text-center">
				<a class="signup-logo icon-logo" [routerLink]="['']"></a>
			</div>
			<div class="col col-xs-12 text-center">
				<h1 class="h1">Sign up and experience Footbagent today</h1>
			</div>
			<div class="col col-xs-12" *ngIf="error">
				<div class="error">
					{{error.message}}
				</div>
			</div>
			<div class="col col-xs-12">
				<input type="text" placeholder="First name" required name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel"/>
				<div class="error error-top" *ngIf="!firstName.valid && firstName.touched && firstName.dirty">
					First name is required
				</div>
			</div>
			<div class="col col-xs-12">
				<input type="text" placeholder="Last name" required name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel"/>
				<div class="error error-top" *ngIf="!lastName.valid && lastName.touched && lastName.dirty">
					Last name is required
				</div>
			</div>
			<div class="col col-xs-12">
				<input type="email" placeholder="Email" validateEmail name="username" [(ngModel)]="user.username" #username="ngModel"/>
				<div class="error error-top" *ngIf="!username.valid && username.touched && username.dirty">
					Email format is not correct
				</div>
			</div>
			<div class="col col-xs-12">
				<input type="password" placeholder="Password" required name="password" [(ngModel)]="user.password" #password="ngModel"/>
				<div class="error error-top" *ngIf="!password.valid && password.touched && password.dirty">
					Password is required
				</div>
			</div>
			<div class="col col-xs-12">
				<input type="submit" value="Create Account" class="button button-primary" [disabled]="!signupForm.form.valid"/>
			</div>
			<div class="col col-xs-12 text-center">
				<p>Signing up signifies that you have read and agree to the <a [routerLink]="['/terms']">Terms of Service</a> and <a [routerLink]="['/privacy']">Privacy Policy</a>.</p>
			</div>
			<div class="col col-xs-12 text-center">
				<p>Already have an account? <a [routerLink]="['/login']">Log In</a></p>
			</div>
		</div>
	</form>
</div>