<div class="container-form">
	<form novalidate autocomplete="off" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
		<div class="form-group text-center-xs">
			<a class="logo logo--big icon-logo" [routerLink]="['']"></a>
		</div>
		<div class="form-group text-center-xs">
			<h1 class="h1">Sign up and experience Footbagent today</h1>
		</div>
		<div class="form-group">
			<input type="text" placeholder="Name" id="name" formControlName="name"/>
			<div class="alert alert--top alert--error" *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.touched && signupForm.controls.name.dirty">
				<p>Name is required</p>
			</div>
		</div>
		<div class="form-group">
			<input type="email" placeholder="Email" id="username" formControlName="username"/>
			<div class="alert alert--top alert--error" *ngIf="!signupForm.controls.username.valid && signupForm.controls.username.touched && signupForm.controls.username.dirty">
				<p *ngIf="signupForm.controls.username.hasError('email')">Email format is not correct</p>
				<p *ngIf="signupForm.controls.username.hasError('invalid')">Email already used by other account</p>
			</div>
		</div>
		<div class="form-group">
			<input type="password" placeholder="Password" id="password" formControlName="password"/>
			<div class="alert alert--top alert--error" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched && signupForm.controls.password.dirty">
				<p>Enter a password with minimum 8 characters and at least 1 letter and 1 number</p>
			</div>
		</div>
		<div class="form-group">
			<input type="submit" value="Create Account" class="button button--primary" [disabled]="!signupForm.valid"/>
		</div>
		<div class="form-group text-center-xs">
			<p>Signing up signifies that you have read and agree to the <a [routerLink]="['/terms']">Terms of Service</a> and <a [routerLink]="['/privacy']">Privacy Policy</a>.</p>
		</div>
		<div class="form-group text-center-xs">
			<p>Already have an account? <a [routerLink]="['/login']">Log In</a></p>
		</div>
	</form>
</div>