<div class="global-area">
	<div class="container">
		<div class="row row-xs-middle row-xs-justified">
			<div class="col col-xs-shrink">
				<ul class="list-inline">
					<li><a [routerLink]="['']" class="global-logo icon-logo"></a></li>
				</ul>
			</div>
			<div class="col col-xs-shrink">
				<ul class="list-inline">
					<li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="global-link">Log in</a></li>
					<li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/signup']" class="button button-primary">Sign up</a></li>
					<li *ngIf="authService.isAuthenticated()"><a [routerLink]="['/dashboard']" class="button">Dashboard</a></li>
					<li *ngIf="authService.isAuthenticated()"><a class="global-link">{{authService.profile.username}}</a></li>
					<li *ngIf="authService.isAuthenticated()"><a class="global-link" (click)="authService.logout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main-area">
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>
<div class="footer-area">
	<div class="container">
		<div class="row row-xs-justified">
			<div class="col col-xs-shrink">
				<ul class="footer-list list-inline">
					<li><a [routerLink]="['/home']" class="footer-link">footbagent.com</a></li>
					<li><a [routerLink]="['/support']" class="footer-link">Support</a></li>
				</ul>
			</div>
			<div class="col col-xs-shrink">
				<ul class="footer-list list-inline">
					<li><a [routerLink]="['/terms']" class="footer-link">Terms of Service</a></li>
					<li><a [routerLink]="['/privacy']" class="footer-link">Privacy Policy</a></li>
					<li><a [routerLink]="['/cookies']" class="footer-link">Cookies</a></li>
					<li><p class="footer-text">&copy; 2016 footbagent.com</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>