<div class="main">
	<div class="header">
		<div class="container-fluid">
			<div class="header-content">
				<div class="header-primary">
					<a [routerLink]="['']" class="logo icon-logo"></a>
				</div>
				<div class="header-secondary">
					<ul class="nav nav-inline">
						<li *ngIf="!authService.isAuthenticated()"><a class="button" [routerLink]="['/login']">Log in</a></li>
						<li *ngIf="!authService.isAuthenticated()"><a class="button button-primary" [routerLink]="['/signup']">Sign up</a></li>
						<li *ngIf="authService.isAuthenticated()"><a class="button" [routerLink]="['/dashboard']">Dashboard</a></li>
						<li *ngIf="authService.isAuthenticated()">
							<div class="dropdown dropdown-user" dropdown>
								<a class="avatar" dropdown-open></a>
								<div class="dropdown-menu">
									<div>
										<p>{{authService.profile.firstName}} {{authService.profile.lastName}}</p>
										<p>{{authService.profile.username}}
									</div>
									<ul>
										<li><a>Account settings</a></li>
										<li><a>Notifications</a></li>
										<li><a (click)="authService.signout()">Sign out</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
	<div class="footer">
		<div class="container-fluid">
			<div class="footer-content">
				<div class="footer-primary">
					<ul class="nav nav-inline">
						<li><a [routerLink]="['/home']">footbagent.com</a></li>
						<li><a [routerLink]="['/support']">Support</a></li>
					</ul>
				</div>
				<div class="footer-secondary">
					<ul class="nav nav-inline">
						<li><a [routerLink]="['/terms']">Terms of Service</a></li>
						<li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
						<li><a [routerLink]="['/cookies']">Cookies</a></li>
						<li><p>&copy; 2016 footbagent.com</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>