.avatar {
	display: flex;
	width: $icon-size-lg;
	height: $icon-size-lg;
	border-radius: $border-radius-circle;
	background-color: $athensgray;
}

.avatar--lg {
	width: $icon-size-xl;
	height: $icon-size-xl;
}