.button {
	border: 1px solid $mariner;
	border-radius: 4px;
	padding: 7px 20px;
	background-color: $white;
	font-weight: 600;
	cursor: pointer;
	transition: all 120ms linear;
	&:hover:enabled {
	  border-color: darken($mariner, 10%);
	  background-color: darken($white, 2%);
	  text-decoration: none;
	  color: darken($mariner, 10%);
	}
	&.button-primary {
		background-color: $mariner;
		color: $white;
		&:hover:enabled {
		  background-color: darken($mariner, 10%);
		  color: $white;
		}
	}
	&[disabled] {
    	opacity: 0.5;
    	cursor: default;
  	}
}