.button {
  border: $border-thin solid $dodgerblue-light;
  border-radius: $border-radius-md;
  padding: $spacer-xs $spacer-sm;
  background-color: transparent;
  font-weight: $font-weight-semibold;
  color: $dodgerblue-light;
  cursor: pointer;
  transition: $linear;
  &:hover:enabled {
  	border-color: $dodgerblue;
  	text-decoration: none;
  	color: $dodgerblue;
  }
  &[disabled] {
	  opacity: 0.5;
	  cursor: default;
  }
}

.button--small {
  font-size: $font-size-sm;
}

.button--primary {
  background-color: $dodgerblue-light;
  color: $white;
  &:hover:enabled {
  	border-color: $dodgerblue;
  	background-color: $dodgerblue;
  	color: $white;
  }
}