.button {
  border: 1px solid $color-brand;
  border-radius: $border-radius-md;
  padding: $spacer-xs $spacer-md;
  background-color: transparent;
  font-weight: $font-weight-semibold;
  color: $color-brand;
  cursor: pointer;
  transition: $linear;
  &:hover:enabled {
  	border-color: $color-brand-alt;
  	text-decoration: none;
  	color: $color-brand-alt;
  }
  &[disabled] {
	opacity: 0.5;
	cursor: default;
  }
}

.button-primary {
  background-color: $color-brand;
  color: $white;
  &:hover:enabled {
  	border-color: $color-brand-alt;
  	background-color: $color-brand-alt;
  	color: $white;
  }
}