.dashboard-menu {
	li {
		&:not(:last-child) {
			margin-bottom: 22px;
		}
	}
	a {
		display: flex;
		align-items: center;
		color: $color-border;
		transition: all 120ms linear;
		&:hover {
		  text-decoration: none;
		  color: $easternblue;
		}
		&.is-active {
		  color: $easternblue;
		}
		span {
			margin-right: 15px;
			font-size: 2rem;
		}
	}
}