.dropdown {
  position: relative;
  &.open {
  	.dropdown-menu {
  		pointer-events: auto;
  		opacity: 1;
  	}
  }
}

.dropdown-menu {
  position: absolute;
  right: 0;
  border-radius: $border-radius-md;
  background-color: $white;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
  li {
    &:last-child {
      a {
        border-bottom-left-radius: $border-radius-md;
        border-bottom-right-radius: $border-radius-md;
      }
    }
    a {
      display: block;
      border-top: 1px solid $porcelain;
      padding: $spacer-sm $spacer-md;
      &:hover {
        background-color: $porcelain-light;
        text-decoration: none;
      }
    }
  }
}

.dropdown-session {
  .dropdown-menu {
    top: 50px;
    .dropdown-session-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $spacer-md;
      .avatar {
        margin-bottom: $spacer-sm;
      }
      .dropdown-session-info-username {
        font-size: $font-size-sm;
        color: $graychateau;
      }
    }
  }
}