.dropdown {
  position: relative;
  &.open {
  	.dropdown-menu {
  		pointer-events: auto;
  		transform: scale(1);
      opacity: 1;
  	}
  }
}

.dropdown--right {
  .dropdown-menu {
    left: auto;
    right: 0;
    transform-origin: 75% top;
  }
}

.dropdown-menu {
  position: absolute;
  left: 0;
  border-radius: $border-radius-md;
  background-color: $white;
  box-shadow: $elevation-shadow-1;
  pointer-events: none;
  transform: scale(.1);
  transform-origin: 25% top;
  opacity: 0;
  transition: $rebound;
  li {
    &:last-child {
      a {
        border-bottom-left-radius: $border-radius-md;
        border-bottom-right-radius: $border-radius-md;
      }
    }
    a {
      display: block;
      border-top: $border-thin solid $whitelilac;
      padding: $spacer-sm $spacer-md;
      &:hover {
        background-color: $whitelilac-light;
        text-decoration: none;
      }
    }
  }
}

.dropdown--session {
  .dropdown-menu {
    top: 50px;
    .dropdown--session-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $spacer-md;
      .avatar {
        margin-bottom: $spacer-sm;
      }
      .dropdown--session-info-username {
        font-size: $font-size-sm;
        color: $palesky;
      }
    }
  }
}