input, textarea {
  width: 100%;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  padding: 7px 15px;
  background-color: $input-bg-color;
  color: $input-color;
  outline: none;
  &::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }
  &:focus {
    border-color: $input-border-color--focus;
  }
  &.ng-invalid.ng-touched.ng-dirty {
    border-color: $valencia;
  }
}