.container-form {
  @include make-container();
  @include make-container-max-widths((xs: 400px));
}

.form-section {
  padding: 40px 0;
}

.form-section + .form-section {
  border-top: 1px solid $whitelilac;
}

.form-section-title {
  font-size: 1.6rem;
  color: $dodgerblue;
  &.form-section-title--danger {
    color: $valencia;
  }
}

.form-section-description {
  padding-top: 10px;
  font-size: 1.3rem;
  color: $palesky;
}

.form-group + .form-group {
  margin-top: 20px;
}

label {
  display: block;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1.3rem;
  color: $palesky;
}

input, textarea {
  width: 100%;
  border: 1px solid $athensgray;
  border-radius: 4px;
  padding: 6px 15px;
  background-color: $white;
  color: $charade;
  outline: none;
  &::-webkit-input-placeholder {
    color: $palesky;
  }
  &:focus {
    border-color: $dodgerblue;
  }
  &.ng-invalid.ng-touched.ng-dirty {
    border-color: $valencia;
  }
}

.help {
  display: block;
  padding-top: 5px;
  color: $palesky;
}