input, textarea {
  width: 100%;
  border: 1px solid $mercury;
  border-radius: 4px;
  padding: 7px 15px;
  color: $mineshaft;
  outline: none;
  &::-webkit-input-placeholder {
    color: lighten($mineshaft, 20%);
  }
  &:focus {
    border-color: $mariner;
  }
}

.ng-invalid.ng-touched.ng-dirty {
  border-color: #D64242;
}

.error {
  position: relative;
  border: 1px solid #D64242;
  border-radius: 4px;
  background-color: #D64242;
  padding: 7px 15px;
  text-align: center;
  font-size: 1.3rem;
  color: $white;
  &.error-top {
    margin-top: 14px;
    &:before {
      top: -7px;
      border-top-width: 0;
      border-bottom-color: #D64242;
    }
  }
  &.error-bottom {
    margin-bottom: 14px;
    &:before {
      bottom: -7px;
      border-bottom-width: 0;
      border-top-color: #D64242;
    }
  }
  &:before {
    position: absolute;
    left: 10px;
    border: 7px solid transparent;
    content:'';
  }
}