.global-logo, .login-logo, .signup-logo {
  transition: all 120ms linear;
  &:hover {
    color: darken($mariner, 10%);
    text-decoration: none;
  }
}

.global-logo {
  font-size: 3.6rem;
}

.login-logo, .signup-logo {
  font-size: 6rem;
}