table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.4;
  font-size: 1.4rem;
}

tr {

}

th {
  padding: 15px 0 5px 0;
  text-align: left;
  font-weight: 600;
  font-size: 1.3rem;
  color: $palesky;
}

td {
  border-top: 1px solid $whitelilac;
  padding: 10px 0;
}