<div class="top-nav">
	<div class="container">
		<div class="row row-middle-xs row-justified-xs">
			<div class="col-shrink-xs">
				<p class="top-nav-title">Resources</p>
			</div>
			<div class="col-shrink-xs">
				<a class="button button--sm" [routerLink]="['new']">New</a>
			</div>
		</div>
	</div>
</div>
<div class="main-content">
	<div class="container">
		<div class="resources-list">
			<table>
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Cristiano Ronaldo</td>
					</tr>
					<tr>
						<td>Leo Messi</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>