<div class="container-form">
	<form novalidate autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="form-group text-center-xs">
			<a class="logo logo--big icon-logo" [routerLink]="['']"></a>
		</div>
		<div class="form-group text-center-xs">
			<h1 class="h1">Log in to your account</h1>
		</div>
		<div class="form-group">
			<input type="email" placeholder="Email" id="username" formControlName="username"/>
			<div class="alert alert--top alert--error" *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched && loginForm.controls.username.dirty">
				<p>The email entered does not match with any account.</p>
			</div>
		</div>
		<div class="form-group">
			<input type="password" placeholder="Password" id="password" formControlName="password"/>
			<div class="alert alert--top alert--error" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched && loginForm.controls.password.dirty">
				<p>The password entered is not correct.</p>
			</div>
		</div>
		<div class="form-group">
			<input type="submit" value="Log In" class="button button--primary"/>
		</div>
		<div class="form-group text-center-xs">
			<p>New to Footbagent? <a [routerLink]="['/signup']">Sign Up</a></p>
		</div>
	</form>
</div>